/* body {
    background-color: rgb(73, 73, 73);
} */


form {
    width: 500px;
    border: 2px solid #ccc;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}

input {
    display: block;
    border: 2px solid;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

label {
    color: #888;
    font-size: 18px;
    padding: 10px;
}
button {
    float: right;
    background: #555;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
}

#bg {
    background-color: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 95%;
}